*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: green
}

.innerheader{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: green
}

.container{
    height: 100%;
    display: table;
    float: left;
}

.container h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat';
}

.container h1 span{
    font-weight: 300;
    padding-left: 20px;
}

.navigation{
    float: right;
    height: 100%;   
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px ;
}

.navigation a:last-child{
    padding-right: 0px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Montserrat';
}

body {
    margin: auto;
    font-size: 20px;
    background-image: url(Images/Website\ Background.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.creative {
    justify-content: left;
    text-align: left;
}

footer {
    clear: both;
    float: right;
    width: 80%;
    margin-left: auto;
}

.creativetitle {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
}

.flexbox-item-1{
    min-height: 200px;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
